.app-to-do-details {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 20px 0;

    &__header {
        padding: 0 20px;
        height: 32px;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        .app-icon-button {
            flex-shrink: 0;
        }
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__content {
        height: calc(100% - 32px);
        flex: 1 1 auto;
        overflow: hidden;

        &_empty-loader {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
    }
}