.app-to-do-list {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 20px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);


    &__list {
        list-style-type: none;
        display: flex;
        flex-flow: column;
        gap: 5px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        --mat-form-field-container-height: 56px;

        .button--add {
            height: var(--mat-form-field-container-height);
        }

        .my-custom-form-field {
            flex: 1 1 auto;
        }
    }
}