<div class="app-to-do-item"
     [class.app-to-do-item_selected]="isSelected()"
     appTooltip="Кликните для подробностей"
     [appTooltipIsDisabled]="isEdited() || isSelected()">
    @if (isEdited()) {
        <mat-form-field class="app-to-do-item__field">
            <mat-label>Todo name</mat-label>
            <input name="taskName"
                   matInput
                   type="text"
                   placeholder="Enter text..."
                   [errorStateMatcher]="defaultMatcher"
                   [formControl]="taskNameControl"> 
        </mat-form-field>
        <button (click)="onSaveChanges($event)" [disabled]="taskNameControl.invalid" appTooltip="Сохранить изменения">SAVE</button>
    } @else {
        <span class="app-to-do-item__text">{{data().text}}</span>
    }
    <button app-button-title="Delete" [appButtonType]="typesButton.DELETE" (click)="onRemove($event)" appTooltip="Удалить задачу">Delete</button>
</div>