<article class="app-to-do-page">
    <section class="app-to-do-list">
        <h1>Todo List</h1>

        <div class="app-to-do-list__filters">
            <mat-form-field>
                <mat-label>Task status</mat-label>
                <mat-select [(value)]="selectedStatus">
                    <mat-option [value]="null"></mat-option>
                    @for (status of taskStatuses; track status) {
                    <mat-option [value]="status.value">{{ status.viewValue }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="app-to-do-list__cont" [class.app-to-do-list__cont_empty-loader]="isEmptyOrLoading()">
            @if (isLoading()) {
                <app-loading-indicator></app-loading-indicator>
            } @else if (filteredTasks().length) {
                <ul class="app-to-do-list__items">
                    @for (item of filteredTasks(); track item.id) {
                        <li>
                            <app-to-do-item [data]="item"
                                            [isView]="viewItemId() === item.id"
                                            [isSelect]="selectedIds().has(item.id)"
                                            (itemClicked)="onHandlerItemClicked($event)"
                                            (itemCheckboxChanged)="onHandlerItemCheckboxChanged($event)"
                                            (itemDelete)="onHandlerItemDelete($event)"
                                            (itemSaveEdit)="onHandlerItemSaveEdit($event)">
                            </app-to-do-item>
                        </li>
                    }
                </ul>
            } @else {
                <p class="app-to-do-list__empty-message">Список пуст. Добавьте задачу или измените статус существующих</p>
            }
        </div>

        <div class="app-to-do-list__status-management">
            <button app-button
                    class="app-button_new"
                    [disabled]="selectedCount() < 1"
                    (click)="onStatusChange(TASK_STATUS.NEW)"
                    appTooltip="Установить статус NEW"
                    [appTooltipIsDisabled]="selectedCount() < 1">NEW
            </button>
            <button app-button
                    class="app-button_inprogress"
                    [disabled]="selectedCount() < 1"
                    (click)="onStatusChange(TASK_STATUS.INPROGRESS)"
                    appTooltip="Установить статус In progress"
                    [appTooltipIsDisabled]="selectedCount() < 1">In progress
            </button>
            <button app-button
                    class="app-button_completed"
                    [disabled]="selectedCount() < 1"
                    (click)="onStatusChange(TASK_STATUS.COMPLETED)"
                    appTooltip="Установить статус Completed"
                    [appTooltipIsDisabled]="selectedCount() < 1">Completed
            </button>
        </div>

        <app-to-do-create-item (createItemSubmit)="onHandlerCreateItemSubmit($event)"></app-to-do-create-item>
    </section>

    @if (viewItemId()) {
        <section class="app-to-do-details">
            <div class="app-to-do-details__header">
                <h2 class="app-to-do-details__title">{{this.viewItem()?.text}}</h2>
                <button app-icon-button-class="CANCEL" (click)="onCloseDetails()" appTooltip="Закрыть">X</button>
            </div>
            
            <div class="app-to-do-details__description">{{this.viewItem()?.description}}</div>
        </section>
    }

</article>