<article class="app-to-do-page">
    @let tAtciveTab = activeTab();

    <div class="app-to-do-page__sidebar">
        <h1 class="app-to-do-name">TaskBoard</h1>
        <div class="app-to-do-page__nav">
            @for (tab of tabs; track tab.key) {
                <a class="app-to-do-page__tab" [class.app-to-do-page__tab_active]="tAtciveTab?.key === tab.key" [routerLink]="tab.url" >
                    <span class="app-to-do-page__tab-name">{{tab.name}}</span>
                </a>
            }
        </div>
    </div>
    <div class="app-to-do-page__content">
        <div class="app-to-do-page__header">
            <h2>{{tAtciveTab?.name || '---'}}</h2>
        </div>
        <div class="app-to-do-page__router-container">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
    
</article>