<form [formGroup]="form" (ngSubmit)="onSubmitToDoForm()" class="app-to-do-create-item__form">
    <div class="app-to-do-create-item__fields">
        <mat-form-field class="app-to-do-create-item__field">
            <mat-label>Todo name</mat-label>
            <input name="taskName"
                matInput
                type="text"
                placeholder="Enter text..."
                [formControl]="form.controls.taskName">
        </mat-form-field>
        <mat-form-field class="app-to-do-create-item__field">
            <mat-label>Leave a description</mat-label>
            <input name="taskDescription" matInput type="text" placeholder="Enter text..." [formControl]="form.controls.taskDescription">
        </mat-form-field>
    </div>
    <button app-button
            [appButtonType]="TYPES_BUTTON.ADD"
            [disabled]="form.invalid"
            appTooltip="Добавить задачу"
            [appTooltipIsDisabled]="form.invalid">Add task
    </button>
</form>